<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title ></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
<script>
    function submit() {
        let image = $("#image").val();
        let contents = $("#contents").val();

        console.log(image, contents);
        $.ajax({
            type: "POST",
            url: "/api/post",

            data: {
                "image": image,
                "contents": contents,
            },

            success: function (response) {
                console.log(response);
            }
        });

    }
    function getPost(){
        $.ajax({
            type: "Get",
            url: "/api/post/",
            success: function (response) {
                console.log(response);
            }
        });
    }

    function deletePost() {

        let postId = $("#postId").val();
        $.ajax({
            type: "Delete",
            url: "/api/post/" + postId,
            success: function (response) {
                console.log(response);
            }
        });

    }

    function upSubmit() {
        let image = $("#upimage").val();
        let contents = $("#upcontents").val();
        let postId = $("#uppostId").val();

        console.log(image, contents);
        $.ajax({
            type: "PUT",
            url: "/api/post/" + postId,
            data: {

                "image": image,
                "contents": contents
            },

            success: function (response) {
                console.log(response);
            }
        });
    }

    function likeSubmit() {

        let postId = $("#likepostId").val();
        console.log(postId);
        console.log("ssss");
        $.ajax({
            type: "POST",
            url: "/api/post/like",
            data: {
                "postId": postId
            },
            success: function (response) {
                console.log(response);
            }
        });


    }
</script>
<div class="header" style="position:relative;">
    <div id="header-title-login-user">
        <span th:text="${realName}"></span> 님의
    </div>
    <div id="header-title-select-shop">
        Megazine~!
    </div>

    <form id="my_form" method="post" action="/user/logout">
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
    </form>
</div>
====================글가져오기 api=============================
<br>
<button onclick="getPost()">게시글 가져오기 시발</button>
<br>

====================글쓰기 api================================
<div class="login-id-label">image</div>
<input class="image" id="image">

<div class="login-id-label">contents</div>
<input class="contents" id="contents">


<button onclick="submit()">이버튼 왜 안먹혀 시발</button>
<br>

====================글 삭제 api================================
<br>

<div class ="login-id-label">postId</div>
<input class="postId" id="postId">
<button onclick="deletePost()">게시글 삭제하기 시발</button>
<br>
====================글 업데이트 api================================
<br>
<div class="login-id-label">postId</div>
<input class="image" id="uppostId">

<div class="login-id-label">image</div>
<input class="image" id="upimage">

<div class="login-id-label">contents</div>
<input class="contents" id="upcontents">


<button onclick="upSubmit()">이버튼 왜 안먹혀 시발</button>
<br>

<br>

====================좋아요 api================================
<br>
<div class="login-id-label">postId</div>
<input class="likes" id="likepostId">

<button onclick="likeSubmit()">이버튼 왜 안먹혀 시발</button>
<br>






